#map-canvas {   height: 500px;}
.angular-google-map {   height: 500px;
                        display: block;}
.frame {
    height: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;}
#registerForm {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.main-navbar {
    background-color: #563d7c;
}
