@(title: String) @main("Register") {
        <div class="navbar"></div>
          <div class="frame">
              <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" latitude="latitude" longitude="longitude"></google-map><br>
            <form id="registerObservationForm" name="registerObservationForm" role="form" class="form-horizontal" ng-submit="registerObservation('{{currentObservation.animal}}',{{currentObservation.amount}},{{latitude}}, {{longitude}})" novalidate>
                <div class="form-group">
                    <label for="animal" class="control-label col-lg-2">Animal:</label>
                    <div class="col-lg-10">
                        <select required ng-model="currentObservation.animal" class="form-control" id="animal">
                            <option>Elg</option>
                            <option>Reinsdyr</option>
                            <option>Hjort</option>
                            <option>Rådyr</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="control-label col-lg-2">Amount:</label>
                    <div class="col-lg-10">
                        <input required ng-model="currentObservation.amount" type="number" class="form-control" id="amount">
                    </div>
                </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button ng-disabled="registerObservationForm.$invalid || !latitude || !longitude" type="submit" class="btn btn-primary">Register observation</button>
                        <button ng-click="resetForm()" class="btn btn-default">Clear</button>
                    </div>
            </form>
          </div>
}
