@(title: String)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" ng-app="gitleHunt">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQqIAaSyqBUauxZyyZ_3Kv3UGOzUfXkqo&sensor=false"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/maps.js")"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/services.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-google-maps.js")"></script>

    </head>
    <body ng-controller="ObservationsCtrl">
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">GitleHunt</div>
            </div>
        </div>
        </header>
        <div class="navbar"></div>
          <div class="frame">

            <!--div id="map-canvas"></div-->
              <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true"></google-map><br>
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="animal" class="control-label col-lg-2">Animal:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="animal" placeholder="Animal">
                            <option>Elg</option>
                            <option>Reinsdyr</option>
                            <option>Hjort</option>
                            <option>Rådyr</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="control-label col-lg-2">Amount:</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" id="amount" placeholder="100">
                    </div>
                </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-default" onClick="registerObservation()">Registrer observasjon</button>
                    </div>
            </form>
          </div>
   </body>
</html>
